/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: white;
    font-size: 100%;
}

.quiz-box{
    height: 400px;
    padding: 50px;
    margin: 100px;
    background: gray;
    border-radius: 5px;
    text-align: center;
}

.span{
    height: 400px;
    width: 100%;
    font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 35px;
    font-size: 35px;
}

h1{
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

/*Start Button Style*/
/*.start-btn{
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-10% -50%)
    color: gray;
    padding: 10px 10px;
    border-radius: 5px;
    background: rgb(100, 22, 172);
}
*/

