
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: white;
    font-size: 100%;
}

p {
    background-color: white;
    display: inline-flex;
    align-items: end;
    justify-content: end;
    font-size: 30px;
    height: 50px;
    width: 100px;
} 


.quiz-box{
    height: 400px;
    padding: 50px;
    margin: 100px;
    background: gray;
    border-radius: 5px;
    text-align: center;
}

.span{
    height: 400px;
    width: 100%;
    font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 35px;
    font-size: 35px;
}

h1{
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

/*Start Button Style*/

.start-btn {
    position: absolute;
    padding: 10px 10px;
    top: 65%;
    left: 45%;
    transform: translate(-50% -50%);
    border-radius: 5px;
    background: rgb(100, 22, 172);
}

#code-quiz-title {
    font-size: 25px;
    font-weight: 700;
}

p {
    height: 25px;
    padding: 30px;
    margin: 10px;
    background: gray;
    border-radius: 5px;
    padding: 5px;
    align-items: flex-end; 
    display: flex;
    flex-direction: row; 
    justify-content: end; 
    font-size: 15px;
    border-radius: 5px;
    background-color: blueviolet;
}

 h2 {
    display: flex;
    flex-direction: wrap;
}

