* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: white;
    font-size: 100%;
}

.quiz-box{
    height: 540px;
    padding: 50px;
    background: gray;
    border-radius: 5px;
}

/*.quiz-title{
    height: 75px;
    width: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 35px;
    font-size: 35px;
}*/

/*.quiz-title h1{
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 45px;
    font-size: 25px;
}*/

.start-btn{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% -50%)
}

.start-btn button {
    font-size: ;
    color: gray;
    padding: 10px 10px;
    border-radius: 5px;
    background: rgb(208, 12, 172);
}